body{
	background-image: url(images/4.jpg);
	text-align: center;
	background-size: cover;
	background-attachment: fixed;
}
nav{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.div1{
	padding-top: 150px;
	color: white;
	font-size: 30px;
	text-shadow: 4px 5px 8px #101010;
	letter-spacing: 5px;
}